{% if page.category == "FAQs" %}
<ul>
  <li><a href="https://www.cyberpank.rocks">Δοκίμασε το</a></li>
  <li><a href="/faqs/2020/02/29/startsession/">Οδηγός για καθηγητές</a></li>
  <li><a href="/faqs/2020/02/28/joinsession/">Οδηγός για μαθητές</a></li>
</ul>
{% endif %}

{% if paginator.posts %}

  <ul class="list  list--posts">
    {% assign grouped-posts = paginator.posts | where: "categories", page.category %}
    {% for page in grouped-posts %}
      <li class="item  item--post">
        <article class="article  article--post  typeset">

          <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
          {% include post-meta.html %}
          {{ page.excerpt | markdownify }}

        </article>
      </li>
    {% endfor %}
  </ul>
  {% include post-pagination.html %}

{% else %}

  <ul class="list  list--posts">
    {% assign grouped-posts = site.posts |  where: "categories", page.category  %}
    {% for page in grouped-posts %}
      <li class="item  item--post">
        <article class="article  article--post  typeset">

          <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
          {% include post-meta.html %}
          {{ page.excerpt | markdownify  }}

        </article>
      </li>
    {% endfor %}
  </ul>

{% endif %}
