// Colours
$bodyColour: #46412A;
$headingColour: darken($bodyColour, 5%);
$linkColour: #5B5BFF;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 20%);
$white: #fff;

$backgroundColour: #ffff;
$codeBackgroundColour: darken($backgroundColour, 5%);
